<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Attention!</title>
    <!--<script type="text/javascript" src="/node_modules/jquery/dist/jquery.js"></script>-->
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9"
      crossorigin="anonymous"
    />
    {% load static %}
    <style>
      body {
        background-color: #283044;
      }
    </style>
  </head>
  <body>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm"
      crossorigin="anonymous"
    ></script>
    <!-- NAVBAR -->
    <nav class="navbar" style="background-color: #1f273b">
      <div
        class="container-fluid"
        style="display: flex; justify-content: space-between"
      >
        <a href="#"
          ><img
            src="{% static 'main_app/images/goblet.png' %}"
            alt="goblet"
            style="width: 4vw; height: 4vw"
        /></a>
        <span class="navbar-brand h1" style="color: #ebf5ee; font-size: 3vw"
          >Attention!</span
        >
        <a href="#"
          ><img
            src="{% static 'main_app/images/settings.png' %}"
            alt="settings"
            style="width: 4vw; height: 4vw"
        /></a>
      </div>
    </nav>

    <div
      class="container"
      style="display: flex; flex-direction: column; justify-content: center"
    >
      <!-- POP-UPS

      <script type="text/javascript" src="/node_modules/jquery/dist/jquery.js"></script>
      <script>
        $(document).ready(function () {
          $("#my_message").modal("show");
        });
      </script>-->
      <!-- Button trigger modal -->
      <div style="text-align: center;">
        <button
          type="button"
          class="btn btn-light my-5"
          data-bs-toggle="modal"
          data-bs-target="#exampleModal"
          style="width: 4vw; height: 4vw; font-size: large;"
        >
          +
        </button>
      </div>
      <!-- Modal -->
      <div
        class="modal fade"
        id="exampleModal"
        tabindex="-1"
        aria-labelledby="exampleModalLabel"
        aria-hidden="true"
      >
        <div class="modal-dialog modal-dialog-centered">
          <div class="modal-content">
            <div class="modal-header" style="background-color: #1f273b;">
              <h1 class="modal-title fs-5" id="exampleModalLabel" style="color: #ebf5ee; size: 5vw;">
                Add Task
              </h1>
              <button
                type="button"
                class="btn-close"
                data-bs-dismiss="modal"
                aria-label="Close"
              ></button>
            </div>
            <div class="modal-body" style="display: flex; justify-content: center; flex-direction: column; background-color: #283044; margin: 0; padding: 0;">
              {% block content %}
              <form action="{{ form.save }}" method="post">
                {% csrf_token %}
                <p style="text-align: center; margin: 0%; color: #ebf5ee;">Task text</p>
                <p style="text-align: center;">{{ form.text }}</p>
                <p style="text-align: center; margin: 0; color: #ebf5ee;">on what time should be done</p>
                <p style="text-align: center;">{{ form.time_to_beat }}</p>
                <p style="text-align: center; margin: 0; color: #ebf5ee;">on what day should be done</p>
                <p style="text-align: center;">{{ form.day_to_beat }}</p>
                <p style="text-align: center; margin: 0; color: #ebf5ee;">how important the task is</p>
                <p style="text-align: center;">{{ form.important }}</p>
                <p style="text-align: center; margin: 0; color: #ebf5ee;">is it long-term task</p>
                <p style="text-align: center;">{{ form.is_great }}</p>
                <p style="text-align: center; margin: 0; color: #ebf5ee;">would you need to repeat task</p>
                <p style="text-align: center;">{{ form.is_repeat }}</p>
                {% if form.is_repeat %}
                <p style="text-align: center; margin: 0; color: #ebf5ee;" >how often you need to repeat</p>
                <p style="text-align: center;">{{ form.repeat_every }}</p>
                {% endif %}
                <div class="modal-footer" style="background-color: #1f273b; display: flex;">
                  <button type="submit" class="btn btn-light">
                    Save changes
                  </button>
                </div>
              </form>
              {% endblock %}
            </div>
            
          </div>
        </div>

      <!-- Tasks -->
</div>
    </div>
    <div class="container">
      <div class="row" style="display: flex; justify-content: center;">
        <div class="col">
          {% block hey %}
          <h1 style="color: #ebf5ee;">Today, {{ today }}</h1><!--с этим разобраться-->
          {% endblock %}
          {% for task in latest_targets_list %}
          <div class="card mb-3" style="max-width: 540px;">
            <div class="row g-0">
              <div class="col-md-8">
                <div class="card-body">
                  <p class="card-text">{{ task.text }}</p>
                </div>
              </div>
              <div class="col-md-4" style="display: flex; align-items: center; justify-content: center;">
                <p data-bs-toggle="modal" data-bs-target="#exampleModal">{{task.time_to_beat}}</p>
              </div>          
              
            </div>
          </div>
          {% endfor %}
        </div>
        <div class="col">
          {% block yo %}
          <h1 style="color: #ebf5ee;">Tomorrow, {{ today }}</h1><!--с этим разобраться-->
          {% endblock %}
          {% for task in latest_targets_list %}
          <div class="card mb-3" style="max-width: 540px;">
            <div class="row g-0">
              <div class="col-md-8">
                <div class="card-body">
                  <p class="card-text">{{ task.text }}</p>
                </div>
              </div>
              <div class="col-md-4" style="display: flex; align-items: center; justify-content: center;">
                <p>{{task.time_to_beat}}</p>
              </div>
            </div>
          </div>
          {% endfor %}
        </div>
      </div>
    </div>
    
  </body>
</html>
